<table border="2">

    <tr>
        <td>Sl No</td>
        <td>Name</td>
        <td>Details</td>
        <td>Price</td>
        <td>Photo</td>
        <td>Action</td>
    </tr>
    {% for i in productdata %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.product_name}}</td>
        <td>{{i.product_details}}</td>
        <td>{{i.product_price}}</td>
        <td align="center"><img src="{{i.product_photo.url}}" alt="" width="150"></td>
        <td align="center"><a href="{% url 'User:Viewmore' i.id  %}">View More</a></td>
    </tr>
    {% endfor %}
</table>