{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>ShopiX</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'Main/assets/img/favicon.png' %}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'Main/assets/css/all.min.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'Main/assets/bootstrap/css/bootstrap.min.css' %}">
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'Main/assets/css/owl.carousel.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'Main/assets/css/magnific-popup.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'Main/assets/css/animate.css' %}">
    <!-- mean menu css -->
    <link rel="stylesheet" href="{% static 'Main/assets/css/meanmenu.min.css' %}">
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'Main/assets/css/main.css' %}">
    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'Main/assets/css/responsive.css' %}">

</head>

<body>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- header -->
    <div class="top-header-area bg-dark" style="background-color: black;" id="sticker">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="{% static 'Guest/index.html' %}">
                                <img src="{% static 'Main/assets/img/Logo1.png' %}" alt="" width="60">
                            </a>
                        </div>
                        <!-- logo -->

                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>

                                <!-- Home -->
                                <li class="current-list-item">
                                    <a href="{% url 'User:Homepage' %}">Home</a>
                                </li>

                                <!-- Shop -->
                                <li>
                                    <a href="{% url 'User:Viewproduct' %}">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'User:Viewproduct' %}">All Products</a></li>
                                        <li><a href="{% url 'User:Wishlists' %}">Wishlist</a></li>
                                        <li><a href="{% url 'User:MyCart' %}">My Cart</a></li>
                                    </ul>
                                </li>

                                <!-- Profile -->
                                <li>
                                    <a href="#">My Account</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'User:MyProfile' %}">My Profile</a></li>
                                        <li><a href="{% url 'User:EditProfile' %}">Edit Profile</a></li>
                                        <li><a href="{% url 'User:ChangePass' %}">Change Password</a></li>
                                    </ul>
                                </li>

                                <!-- Orders -->
                                <li>
                                    <a href="{% url 'User:MyBooking' %}">My Orders</a>
                                </li>

                                <!-- Support -->
                                <li>
                                    <a href="#">Support</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'User:Complaint' %}">Complaint</a></li>
                                        <li><a href="{% url 'User:Feedback' %}">Feedback</a></li>
                                    </ul>
                                </li>



                                <!-- Icons -->
                                <li>
                                    <div class="header-icons">

                                        <a class="shopping-cart" href="{% url 'User:MyCart' %}"
                                            style="position: relative;">
                                            <i class="fas fa-shopping-cart"></i>
                                            <span class="cart-count-badge"
                                                style="position: absolute; top: -8px; right: -8px; background: #ff6161; color: white; border-radius: 50%; width: 24px; height: 24px; display: flex; align-items: center; justify-content: center; font-size: 12px; font-weight: bold;">{{cart_count|default:"0" }}</span>
                                        </a>

                                        <a href="{% url 'User:Wishlists' %}">
                                            <i class="fas fa-heart"></i>
                                        </a>

                                        <a class="mobile-hide search-bar-icon" href="{% url 'User:logout' %}">
                                            <i class="fas fa-sign-out-alt"></i> Logout
                                        </a>

                                    </div>
                                </li>

                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->


    <div style="padding-top: 160px;padding-bottom: 50px;" align="center">


        {% block content %}
        {% endblock %}
    </div>


    <!-- Footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">

                <!-- About -->
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About ShopiX</h2>

                        <p>
                            ShopiX is a modern online marketplace where users can explore products,
                            manage wishlists, place orders, and track deliveries easily.
                            Our goal is to provide a smooth and secure shopping experience.
                        </p>

                    </div>
                </div>


                <!-- Quick Links -->
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Quick Links</h2>

                        <ul>
                            <li><a href="{% url 'User:Homepage' %}">Home</a></li>
                            <li><a href="{% url 'User:Viewproduct' %}">Shop</a></li>
                            <li><a href="{% url 'User:Wishlists' %}">Wishlist</a></li>
                            <li><a href="{% url 'User:MyCart' %}">My Cart</a></li>
                            <li><a href="{% url 'User:MyBooking' %}">My Orders</a></li>
                        </ul>

                    </div>
                </div>


                <!-- Support -->
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Customer Support</h2>

                        <ul>
                            <li><a href="{% url 'User:Complaint' %}">Submit Complaint</a></li>
                            <li><a href="{% url 'User:Feedback' %}">Send Feedback</a></li>
                            <li>Email: support@shopix.com</li>
                            <li>Phone: +91 98765 43210</li>
                        </ul>

                    </div>
                </div>


                <!-- Newsletter -->
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Newsletter</h2>

                        <p>
                            Subscribe to receive updates on new products and special offers.
                        </p>

                        <form action="#">
                            <input type="email" placeholder="Enter Email">
                            <button type="submit">
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-12">
                    <p>
                        © 2026 <b>ShopiX</b>. All Rights Reserved.
                    </p>
                </div>

                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">

                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end copyright -->

    <!-- jquery -->
    <script src="{% static 'Main/assets/js/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'Main/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- count down -->
    <script src="{% static 'Main/assets/js/jquery.countdown.js' %}"></script>
    <!-- isotope -->
    <script src="{% static 'Main/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
    <!-- waypoints -->
    <script src="{% static 'Main/assets/js/waypoints.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'Main/assets/js/owl.carousel.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static 'Main/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- mean menu -->
    <script src="{% static 'Main/assets/js/jquery.meanmenu.min.js' %}"></script>
    <!-- sticker js -->
    <script src="{% static 'Main/assets/js/sticker.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'Main/assets/js/main.js' %}"></script>

</body>

</html>