<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    Welcome User
     <br><b>
    <a href="{% url 'User:MyProfile' %}"> View Profile</a></b>
    <br><b>
    <a href="{% url 'User:Viewproduct' %}"> View Products</a></b>
      <br><b>
    <a href="{% url 'User:Wishlists' %}"> View wishlist</a></b>
    <br><b>
    <a href="{% url 'User:Complaint' %}"> Add Complaint</a></b>
    <br><b>
    <a href="{% url 'User:Feedback' %}"> Give Feedback</a></b>
    <br><b>
    <a href="{% url 'User:MyCart' %}"> My Cart Items</a></b>

</body>
</html>