<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditProfile
    </title>
</head>

<body>
    <form action="" method="post">
         {% csrf_token %}
    <table border="2"><tr>
       
        <td>Name</td>
        <td><input type="text" name="txt_name" id="txt_name"value="{{shop.shop_name}}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" name="txt_email" id="txt_email" value="{{shop.shop_email}}"></td>
    </tr>
    <tr>
        <td>Contact</td>
        <td><input type="text" name="txt_contact" id="txt_contact" value="{{shop.shop_contact}}"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text"name="txt_address" id="txt_address" value="{{shop.shop_address}}"></textarea></td>
    </tr>
    <tr>
    
        <td colspan="2" align="center"><input type="submit" value="Update"></td>
    </tr></table>
    </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'Shop:MyProfile' %}"
</script>
{% endif %}