<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Homepage</title>
</head>
<body>
    Welcome Admin<br>
    <b><a href="{% url 'Admin:ShopVerification' %}">Verification</a></b><br> 
    <b><a href="{% url 'Admin:Viewcomplaint' %}">User Complaints</a></b><br>
    <b><a href="{% url 'Admin:Viewfeedback' %}">User Feedback</a></b>
    <br><b>
    <a href="{% url 'Admin:District' %}">Add Districts</a></b>
    <br><b>
    <a href="{% url 'Admin:Place' %}">Add  Place</a></b>
    <br><b>
    <a href="{% url 'Admin:Category' %}">Add Category</a></b>
    <br><b>
    <a href="{% url 'Admin:SubCategory' %}">Add SubCategory</a></b>
    <br><b>
    <a href="{% url 'Admin:SalesReport' %}">View Sales Report</a></b>
    <br><b>
    <a href="{% url 'Admin:UserList' %}">Users List</a></b>
    <br><b>
    <a href="{% url 'Admin:Brand' %}"> Add Brand</a></b>



</body>
</html>