{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Booking Report</title>
</head>

<body>

    <form action="" method="post">
        {% csrf_token %}
        <table border="2">
            <tr>
                <td>From Date</td>
                <td><input type="date" name="from_date" required></td>
            </tr>
            <tr>
                <td>To Date</td>
                <td><input type="date" name="to_date" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>

    <br>

    {% for i in bookingdata %}

    <table border="2" >
        <tr>
            <td>
                <b>User Details</b><br>
                Name: {{ i.user.user_name }}<br>
                Email: {{ i.user.user_email }}<br>
                Contact: {{ i.user.user_contact }}<br>
                Address: {{ i.user.user_address }}<br>
                <b>Booking Date:</b> {{ i.booking_date }}
            </td>
    </table>

    <br>


    <table border="2" cellpadding="8">
        <tr align="center">
            
            <th>Sl No</th>
             <th>Shop Details</th>
            <th>Product Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
            <th>Status</th>
        </tr>

        {% for j in i.tbl_cart_set.all %}
        
        <tr align="center">
            <td>{{ forloop.counter }}</td>
            <td> 
             
                Name: {{j.product.shop.shop_name}}<br>
                Email: {{j.product.shop.shop_email}}<br>
                Contact:{{j.product.shop.shop_contact}}<br>
                Address: {{j.product.shop.shop_address}}<br>
            </td>
            <td>{{ j.product.product_name }}
              
            </td>
            <td>
                <img src="{{ j.product.product_photo.url }}" width="80">
            </td>
            <td>₹{{ j.product.product_price }}</td>
            <td>{{ j.cart_qty }}</td>
            <td>₹{{ j.cart_qty|mul:j.product.product_price }}</td>
            
              <td>  {% if j.cart_status == 2 %}
                Packed
                {% elif j.cart_status == 3 %}
                Shipped
                {% elif j.cart_status == 4 %}
                Out For Delivery
                {% elif j.cart_status == 5 %}
                Delivery
                {% elif j.cart_status == 6 %}
                Delivered
                {% else %}
                Pending
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" align="center">No items found</td>
        </tr>
        {% endfor %}
    </table>

    <hr>

    {% empty %}
    <p><b>No bookings found for selected dates</b></p>
    {% endfor %}

</body>

</html>